@import "./normalize.css";

:root {
    --primary: #5b5f97;
    --secondary: #a5c4d4;
    --accent: #ef436b;
    --roundiness: 0.5rem;
}

body {
    font-size: 18px;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: var(--roundiness);
    font-size: 1rem;
    cursor: pointer;
}

main {
    display: grid;
    grid-template-columns: minmax(auto, 1fr) 3fr;
    height: 100vh;
}

aside {
    background-color: var(--primary); 
    color: white;
}

aside h2 {
    text-align: center;
}

aside ul {
    padding: 0;
    margin-inline: 1rem;
    list-style: none;
}

aside li {
    padding: 0.5rem;
    margin-block: 0.5rem;
    cursor: pointer;
}

aside li:hover, .active-deck {
    background-color: var(--secondary);
}

#create {
    display: block;
    margin-inline: auto;
    background-color: var(--accent);
    color: white;
}

section {
    display: grid;
    place-content: center;
}

#card {
    display: grid;
    place-items: center;
    width: 36rem;
    aspect-ratio: 5 / 3;
    box-shadow: 0 0 1rem lightgrey;
    border-radius: var(--roundiness);
    text-align: center;
    cursor: pointer;
}
